* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main{
  min-height: calc(100vh - 190px);
}

.gallery {
  width: 90%;
  margin: 55 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
}
.gallery_title {
  font-family: "Architects Daughter", cursive;
  font-size: 2.5vw;
  color:rgb(207, 195, 181);
  text-shadow: 0 0 10px var(--colorNegro);
  text-align: center;
  margin-top: 30px;
  letter-spacing: 3px;
}
.tarifas{
  text-align: justify;
}
th{
  background-color: var(--colorPrincipal);
  color: var(--colorTitulosYSub);;
}

@media (max-width: 1024px) {
  .gallery_title {
    font-size: 3.5vw;
  }
}
@media (max-width: 768px) {
  .gallery{
    padding: 50px 20px;
  }
  .gallery_title {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .gallery{
    font-size: 12px;
  }
  .gallery_title {
    font-size: 7vw;
  }
}
@media (max-width: 430px){
  .gallery{
    /* font-size: 11px; */
    margin: 30px auto;
    padding: 30px 10px;
  }
}