{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Disfruta de una estadía inolvidable en La Felipa, un hermoso complejo de cabañas, ubicado en la localidad de La Cumbrecita, en Córdoba, Argentina. Rodeado de naturaleza, ofrece comodidad, tranquilidad y acceso a increíbles senderos de las sierras. ¡Reserva ahora y vive una experiencia única en La Felipa!" />
<meta name="keywords" content="alquiler, cabañas, La Felipa, La Cumbrecita, Córdoba, Argentina, naturaleza, tranquilidad, sierras, descanso, turismo, " />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- googleFont -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
<!-- fin googleFont -->
<title>
  {% block title %}

  {% endblock %}
</title>
<link rel="icon" href="{% static 'img/iconos/cabana.ico' %}" type="image/x-icon" />
<!-- CDN weather-icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/erikflowers/weather-icons@master/css/weather-icons.min.css" />
