<nav class="minav">
  <ul class="nav__menu1">
    {% if show_clima %}
      <div class="clima-container">
        <div class="icon-container">
          <i id="icon" title="Clima en La Cumbrecita"></i>
        </div>
        <div class="temp-container">
          <li class="nav__menu__item1">
            <span class="temp"></span>
          </li>
        </div>
      </div>
    {% endif %}
    <li class="nav__menu__item1">
      <a href="{% url 'home' %}" class="a1">Home</a>
    </li>
    <li class="nav__menu__item1">
      <a href="./pages/cabanas.html" class="a2">Cabañas</a>
    </li>
    <li class="nav__menu__item1">
      <a href="{% url 'galeria' %}" class="a3">Galería</a>
    </li>
    <li class="nav__menu__item1">
      <a href="{% url 'tarifas' %}" class="a4">Tarifas</a>
    </li>
    <li class="nav__menu__item1 contact">
      <a href="{% url 'contacto' %}">Contacto</a>
    </li>
  </ul>
</nav>
