{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
  Cabañas
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock %}

{% block bootstrap %}

{% endblock %}

{% block main %}
  <h2 class="gallery_title">Nuestras Cabañas</h2>
  <section class="cabanas">
    <p>Observe las características de las cabañas en la descripción de cada imágen.</p>

    <ul class="cabanas__container">
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-1.avif' %}" alt="sommier de dos plazas" />
        <span class="cabana__info"><p>Amplios ambientes de 50 metros cuadrados con sommier de dos plazas y ropa de cama verano/invierno.</p></span>
      </li>
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-2.avif' %}" alt="desayunador" />
        <span class="cabana__info"><p>Cocina totalmente equipada para dos personas, con desayunador y heladera.</p></span>
      </li>
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-3.avif' %}" alt="vanitory y ducha" />
        <span class="cabana__info"><p>Baño completo con ducha, elementos de higiene y recambio de toallas y toallones.</p></span>
      </li>
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-4.avif' %}" alt="Jacuzzi hidromasaje" />
        <span class="cabana__info"><p>Jacuzzi hidromasaje para relajarse rodeado de naturaleza.</p></span>
      </li>
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-5.avif' %}" alt="Sanitarios" />
        <span class="cabana__info"><p>Baño completo con ducha, elementos de higiene y recambio de toallas y toallones.</p></span>
      </li>
      <li class="cabanas__card">
        <img src="{% static 'img/cabana-6.avif' %}" alt="espacio relax" />
        <span class="cabana__info"><p>Sector de estar con ventanal y hogar a gas, para disfrutar un momento de tranquilidad y lectura.</p></span>
    </ul>
  </section>

  <h2 class="gallery_title">Todos los servicios y comodidades</h2>
  <section class="servicios">
    <ul class="servicios_list">
      <li>
        <img src="{% static 'img/iconos/taza-de-cafe.ico' %}" alt="icono desayuno" style="width: 35px; height: 35px;" />
        Desayuno seco incluido.
      </li>
      <li>
        <img src="{% static 'img/iconos/tetera.ico' %}" alt="icono cocina" style="width: 35px; height: 35px;" />
        Cocinas equipadas con anafe, microondas, cafetera, pava eléctrica y heladera. Vajilla completa para dos personas.
      </li>
      <li>
        <img src="{% static 'img/iconos/wifi.ico' %}" alt="icono wifi" style="width: 30px; height: 30px;" />
        Wi Fi en todo el complejo.
      </li>
      <li>
        <img src="{% static 'img/iconos/televisor.ico' %}" alt="icono TV" style="width: 30px; height: 30px;" />
        Televisión satelital (Direct tv).
      </li>
      <li>
        <img src="{% static 'img/iconos/caliente.ico' %}" alt="icono calefacción" style="width: 30px; height: 30px;" />
        Calefacción central por radiadores.
      </li>
      <li>
        <img src="{% static 'img/iconos/carro-de-limpieza.ico' %}" alt="icono limpieza" style="width: 30px; height: 30px;" />
        Servicio de limpieza.
      </li>
      <li>
        <img src="{% static 'img/iconos/pila-de-toallas.ico' %}" alt="icono ropa blanca y toallas" style="width: 30px; height: 30px;" />
        Ropa blanca de cama y recambio de toallas y toallón diario.
      </li>
      <li>
        <img src="{% static 'img/iconos/jabon.ico' %}" alt="icono Jacuzzi" style="width: 30px; height: 30px;" />
        Jacuzzi y baño completo con ducha.
      </li>
      <li>
        <img src="{% static 'img/iconos/cama-matrimonial.ico' %}" alt="icono cama matrimonial" style="width: 30px; height: 30px;" />
        Unidades con cama matrimonial.
      </li>
      <li>
        <img src="{% static 'img/iconos/cerca.ico' %}" alt="icono terraza" style="width: 30px; height: 30px;" />
        Terraza individual en cada cabaña.
      </li>
      <li>
        <img src="{% static 'img/iconos/cortinas.ico' %}" alt="icono ventana" style="width: 30px; height: 30px;" />
        Mosquitero en todas las ventanas.
      </li>
      <li>
        <img src="{% static 'img/iconos/sierra-nevada.ico' %}" alt="icono vista paisaje" style="width: 30px; height: 30px;" />
        Grandes ventanales con las mejores vistas de La Cumbrecita y el Peñón del Águila.
      </li>
      <li>
        <img src="{% static 'img/iconos/estacionamiento.ico' %}" alt="icono parking" style="width: 30px; height: 30px;" />
        Estacionamiento descubierto en el predio.
      </li>
      <li>
        <img src="{% static 'img/iconos/parilla.ico' %}" alt="icono parrilla" style="width: 30px; height: 30px;" />
        Quincho con parrilla compartida.
      </li>
      <li>
        <img src="{% static 'img/iconos/casa.ico' %}" alt="icono cabaña" style="width: 30px; height: 30px;" />
        Cabañas privadas distanciadas una de la otra.
      </li>
      <li>
        <img src="{% static 'img/iconos/ubicacion.ico' %}" alt="icono ubicación" style="width: 30px; height: 30px;" />
        Ubicadas en la base del Cerro Wank y a 700 mts del Lago de los Patos e ingreso al Lago de las Truchas.
      </li>
      <li>
        <img src="{% static 'img/iconos/paisaje.ico' %}" alt="icono predio" style="width: 30px; height: 30px;" />
        Predio de 8.000 mts2 para disfrutar de la naturaleza autóctona, el avistaje de aves y los arroyos aledaños.
      </li>
    </ul>
    <div class="clearfix"></div>
  </section>
{% endblock %}
