{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
  Tarifas
{% endblock %}

{% block bootstrap %}

{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/tarifas.css' %}" />
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />

{% endblock %}

{% block main %}
  <section>
    <h1 class="gallery_title">Tarifas</h1>
    <div class="gallery">
      <table class="tarifas">
        <thead>
          <tr style="text-align: center;">
            <th>Cabañas</th>
            <th>Temporada baja</th>
            <th>Temporada alta</th>
            <th>Promociones</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>2 pers.</td>
            <td>Consultar</td>
            <td>Consultar</td>
            <td>Consultar</td>
          </tr>
          <!-- Agrega espacio entre las filas con la propiedad CSS -->
          <tr style="height: 25px; text-align: center; ">
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="4">
              <u>TEMPORADA BAJA:</u> de Abril a Noviembre excluyendo fines de semana largos, Semana Santa y vacaciones de invierno.
            </td>
          </tr>
          <tr style="height: 5px; text-align: center; ">
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="4">
              <u>TEMPORADA ALTA:</u> Enero, Febrero, Marzo.
            </td>
          </tr>
          <tr style="height: 10px; text-align: center; ">
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="4">Las tarifas pueden variar según la disponibilidad y el momento del año. Para confirmar las tarifas definitivas comunicarse con el alojamiento.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2 class="gallery_title">Cabañas Disponibles</h2>
    <div class="gallery">
      {% for cabana in cabanas %}
        <div class="cards">
          <div class="gallery__pic">
            <img class="card__img" src="{{ MEDIA_URL }}{{ cabana.foto }}" alt="{{ cabana.nombre }}" />
          </div>
          <div class="card__body">
            <h5 style = "font-size: 1.3rem" class="card__title">{{ cabana.nombre }}</h5>
            <p class="card__text">{{ cabana.descripcion }}</p>
            <ul class="card__list">
              <li style = "list-style: none">Habitaciones: {{ cabana.num_habitaciones }}</li>
              <li style = "list-style: none">Personas: {{ cabana.capacidad }}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
